* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Default styles */

body {
  background-color: #83d9ff;
}

h1,
h2,
p,
a {
  color: #0c0100;
}

.text-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Mobile default styling */
h1 {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  text-align: center;
  margin: 2rem 0 1rem;
}

h2 {
  font-family: Arsenal, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

p {
  font-family: Marvel, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

/* Navigation styling */
header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

nav ul {
  display: none;
}

img {
  width: 100%;
  object-fit: contain;
}

.github-header:nth-child(2),
.github-header:nth-child(3) {
  display: none;
}

/* Mobile: 320px */
/* Main page styling */
#main-page {
  background: no-repeat linear-gradient(220deg, white, #38bdf8);
}

#main-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  /* The m-top of the header is 32px, the header itself is 31px (32 + 31 = 63) */
  height: calc(100vh - 63px);
  text-transform: uppercase;
}

#intro-heading {
  font-family: Marvel, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

#name-heading {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

#intro-text {
  font-family: Metal, cursive;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 120.1%;
}

/* About page styling */
main > * {
  padding: 2rem 0;
}

main h2 {
  margin-bottom: 0.25rem;
}

.bio,
.contact {
  background-color: #38bdf8;
}

.introduction {
  padding-top: 0;
  text-align: center;
}

.introduction p {
  margin-bottom: 1rem;
}

#blue-line {
  height: 0.5rem;
  width: 5.25rem;
  margin: 0 auto 2rem;

  border: none;
  background-color: #0085ff;
}

.bio p {
  margin-bottom: 1rem;
}

.bio p:last-child {
  margin: 0;
}

/* Education */
.school-img {
  display: none;
}

.schools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2rem;
}

.school {
  font-size: 1.25rem;
  font-weight: 700;
}

.contact h2 {
  text-align: center;
}

.email {
  text-align: center;
  margin-top: 1rem;
}

.email span {
  font-weight: 700;
}

/* Footer */
footer {
  background-color: black;
  color: white;

  text-align: center;
  padding: 2rem 0;
}

footer p {
  color: white;
}

footer .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.left-footer p {
  margin-bottom: 0.5rem;
}

#copyright {
  text-transform: uppercase;
}

.footer-icons {
  font-size: 1.5rem;
}

.footer-icons i {
  margin: 0 1rem;
}

/* Tablet */
@media only screen and (min-width: 744px) {
  /* Tablet default styling */
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  /* Navigation styling */
  #menu-logo {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }

  nav a {
    font-family: Marvel, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;

    margin: 0 1.5rem;
  }

  nav a:first-child {
    margin-left: 0;
  }

  .github-header:nth-child(1) {
    display: none;
  }

  .github-header:nth-child(2) {
    display: inline-block;
  }

  /* Main page */
  #intro-heading {
    font-size: 2rem;
  }

  #name-heading {
    font-size: 6rem;
  }

  #main-page-text {
    /* The m-top of the header is 32px, the header itself is 39px (32 + 39 = 71) */
    height: calc(100vh - 71px);
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  /* Default styling for Desktop */
  .text-container {
    margin-right: 13rem;
    margin-left: 13rem;
  }

  /* Navigation styling */
  .github-header:nth-child(2) {
    display: none;
  }

  .github-header:nth-child(3) {
    display: inline-block;
  }

  /* Main page */
  #name-heading {
    font-size: 8.25rem;
  }

  #main-page-text {
    /* The m-top of the header is 32px, the header itself is 47px (32 + 47 = 79) */
    height: calc(100vh - 79px);
  }
}
