* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mobile: 320px */
body {
  background: no-repeat linear-gradient(220deg, white, #38bdf8);
}

h1,
h2,
p {
  color: #0c0100;
}

header,
main {
  margin: 0 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

nav ul {
  display: none;
  list-style: none;
}

img {
  height: 100%;
}

#main-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  height: calc(100vh - 29px - 32px);
  text-transform: uppercase;
}

#intro-heading {
  font-family: Marvel, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

#name-heading {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

#intro-text {
  font-family: Metal, cursive;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 120.1%;
}
