* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Default styles */

body {
  background-color: #83d9ff;
}

h1,
h2,
p,
a {
  color: #0c0100;
}

/* 
  Mobile default styling
  Mobile: 320px  
*/
h1 {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  text-align: center;
  margin: 0 0 1rem;
}

h2,
h3 {
  font-family: Arsenal, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  font-style: italic;
}

p {
  font-family: Marvel, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

ul {
  list-style: none;
}

header {
  display: none;
}

main > * {
  padding: 2rem 0;
}

main h2 {
  margin-bottom: 0.25rem;
}

/* Mobile Menu - Hamburger menu */
.hamburger-menu {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 5;
}

.top,
.middle,
.bottom {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 3px;

  transition: all 0.7s;
}

.middle {
  transform: translateY(7px);
}

.bottom {
  transform: translateY(14px);
}

/* Mobile Menu - Hamburger Menu When Opened */
.opened-menu .middle {
  display: none;
}

.opened-menu .top {
  transform: rotate(45deg) translate(4px, 4px);
  background-color: white;
}

.opened-menu .bottom {
  transform: rotate(-45deg) translate(-4px, 4px);
  background-color: white;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  height: 100%;
  width: 50%;
  z-index: 4;
  padding: 10rem 0;

  transform: translateX(100%); /* Start from outside the screen */
  transition: transform 0.5s ease-in-out;
}

.show-menu {
  transform: translateX(0);
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
}

.mobile-menu li {
  width: 100%;
  text-align: right;
  border-bottom: #b0e7ff dotted 4px;
}

.mobile-menu a {
  color: white;
  font-family: Marvel, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.mobile-menu a:hover {
  color: grey;
}

/* Shadow Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);

  transition: background-color 0.5s ease-in-out;
}

footer {
  background-color: black;
  color: white;

  text-align: center;
  padding: 2rem 0;
}

footer p {
  color: white;
}

.bio,
.contact {
  background-color: #38bdf8;
}

.introduction {
  padding-top: 0;
  text-align: center;
}

.introduction p {
  margin-bottom: 1rem;
}

.bio p {
  margin-bottom: 1rem;
}

.bio p:last-child {
  margin: 0;
}

/* Education */
.school-img {
  display: none;
}

.schools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2rem;
}

.school {
  font-size: 1.25rem;
  font-weight: 700;
}

.contact h2 {
  text-align: center;
}

.email {
  text-align: center;
  margin-top: 1rem;
}

.email span {
  font-weight: 700;
}

.github-header:nth-child(2),
.github-header:nth-child(3) {
  display: none;
}

footer .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.left-footer p {
  margin-bottom: 0.5rem;
}

#copyright {
  text-transform: uppercase;
}

.text-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer-icons {
  font-size: 1.5rem;
}

/* TODO: need to fix a bug where the footer icons are not showing as white on the projects.html page */
.footer-icons i {
  margin: 0 1rem;
  color: white;
}

.web-dev {
  background-color: #131313;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;

  text-align: center;
}

.web-dev h2 {
  color: white;
  margin-bottom: 1rem;
}

.websites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 1rem 2rem;
}

.websites img {
  width: 100%;
  border-radius: 2rem;
}

.python,
.science-fairs {
  text-align: center;
}

.carousel {
  width: calc(100vw - 2rem);
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.slide {
  top: 0;
  left: 0;
  display: none;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  display: inherit;
}

.carousel button {
  background-color: rgba(32, 32, 32, 0.226);
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-size: 2rem;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

.project-description {
  display: none;
  margin-top: 2rem;
}

.project-description[data-active] {
  display: inherit;
}

.graphic {
  width: 40%;
  margin-top: 2rem;
}

#main-page-bg {
  background: no-repeat linear-gradient(220deg, white, #38bdf8);
}

#main-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  height: 100vh;
  text-transform: uppercase;
}

#main-page-text > * {
  padding: 0;
  margin: 0;
}

#intro-heading {
  font-family: Marvel, sans-serif;
  font-weight: 400;
  font-size: 1rem;

  animation: fade-in-up 2s;
  animation-fill-mode: both;
}

#name-heading {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;

  animation: fade-in-up 2s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

#intro-text {
  font-family: Metal, cursive;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 120.1%;

  animation: fade-in-up 2s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

#blue-line {
  height: 0.5rem;
  width: 5.25rem;
  margin: 0 auto 2rem;

  border: none;
  background-color: #0085ff;
}

#no-image-above {
  margin-top: 2rem;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablet */
@media only screen and (min-width: 744px) {
  header {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: center;

    gap: 1.5rem;
  }

  nav a {
    position: relative;
    font-family: Marvel, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
  }

  nav a::after {
    content: "";
    background-color: #0071a1;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
  }

  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition-duration: 0.3s;
  }

  nav a:first-child {
    margin-left: 0;
  }

  main h2 {
    margin-bottom: 0.75rem;
  }

  main > * {
    padding: 3.5rem 0;
  }

  footer p {
    font-size: 1rem;
  }

  .hamburger-menu,
  .mobile-menu {
    display: none;
  }

  .github-header:nth-child(1) {
    display: none;
  }

  .github-header:nth-child(2) {
    display: inline-block;
  }

  .school-img {
    display: unset;
  }

  .school-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .info p {
    font-size: 1.25rem;
  }

  .info p:nth-child(2) {
    font-size: 1.5rem;
  }

  footer .text-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: initial;

    font-size: 1rem;
  }

  #menu-logo {
    display: none;
  }

  #intro-heading {
    font-size: 2rem;
  }

  #name-heading {
    font-size: 6rem;
  }

  #main-page-text {
    height: calc(100vh - 61px);
  }

  #blue-line {
    width: 9rem;
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  .text-container {
    margin-right: 13rem;
    margin-left: 13rem;
  }

  /* Navigation styling */
  .github-header:nth-child(2) {
    display: none;
  }

  .github-header:nth-child(3) {
    display: inline-block;
  }

  /* About page - Contact section */
  .contact p {
    text-align: center;
  }

  /* Main page */
  #name-heading {
    font-size: 8.25rem;
  }

  #main-page-text {
    height: calc(100vh - 61px);
  }
}
